<ul>
  <% @numbers.each do |number| %>
    <li><%= number %></li>
  <% end %>
</ul>

<p>Prueba:</p>
<div>
  <%= link_to 'Menor número', lower_number_path, remote: true %>
</div>
<div>
  <%= link_to 'Mayor número', geater_number_path, remote: true %>
</div>

<p>Resultado:
  <span id="result"></span>
</p>
<p>Los datos para la prueba se visualizan en tiempo real (abrir navegadores)</p>

